# OpenAI API (required)
OPENAI_API_KEY="myapikey"

# Optional
OPENAI_BASE_URL="https://0.0.0.0/v1"  # for proxies / gateways
OPENAI_MODEL="/opt/data/private/tcc/A100_1/Agent_data_trainQwen/PretrainModel/Qwen3-VL-8B-Instruct/"  # for local models, e.g. vLLM



# CUDA_VISIBLE_DEVICES=0 /opt/data/private/anaconda3/envs/vllm-cuda121-qwen3vl/bin/vllm serve /opt/data/private/tcc/A100_1/Agent_data_trainQwen/PretrainModel/Qwen3-VL-8B-Instruct/  --gpu-memory-utilization 0.95  --max-model-len 32768  --port 5000  --trust-remote-code --host 0.0.0.0 --api-key myapikey